@import "tailwindcss";
@import "tw-animate-css";

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

/* Stile generale */

body.light {
    --primary: rgb(102, 72, 175);
    --primary-dark: rgb(85, 52, 164);
    --primary-light: rgb(138, 99, 224);
    --bg: rgb(240, 240, 240);
    --bg-grad: rgb(240, 240, 240, .87);
    --text-color: rgb(0, 0, 0, .8);
    --text-color-05: rgb(0, 0, 0, .5);
    --contrast-02: rgb(0, 0, 0, .2);
    --contrast-01: rgb(0, 0, 0, .1);
    --contrast-007: rgb(0, 0, 0, .07);
    --contrast-005: rgb(0, 0, 0, .05);
    --white: rgb(255, 255, 255) --white-05: rgb(255, 255, 255, .5);
    --border-radius: 20px;
}

body.dark {
    --primary: rgb(102, 72, 175);
    --primary-dark: rgb(85, 52, 164);
    --primary-light: rgb(138, 99, 224);
    --bg: rgb(15, 15, 15);
    --bg-grad: rgb(15, 15, 15, .87);
    --text-color: rgb(255, 255, 255, .8);
    --text-color-05: rgb(255, 255, 255, .5);
    --contrast-02: rgb(255, 255, 255, .2);
    --contrast-01: rgb(255, 255, 255, .1);
    --contrast-007: rgb(255, 255, 255, .07);
    --contrast-005: rgb(255, 255, 255, .05);
    --white: rgb(0, 0, 0) --white-05: rgb(0, 0, 0, .5);
    --border-radius: 20px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding: 110px;
    font-size: 15px;
}

body {
    color: var(--text-color);
    background-color: rgba(0, 0, 0, .1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation: fade-in .3s;
    transition: .3s background-color;
    font-family: var(--font-poppins);
    height: 100%;
}

section {
    margin-inline: 1rem;
    animation: fade-in .3s;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

i {
    pointer-events: none;
}

b {
    font-weight: 700;
}

nav * {
    user-select: none;
}

textarea {
    resize: none;
}

.textarea {
    min-height: 100px;
}

input,
textarea {
    outline: 0;
}

input::placeholder,
textarea::placeholder {
    opacity: .4;
}

.input,
.textarea,
.select {
    border-radius: var(--border-radius);
    padding: 10px 15px;
    outline: 2px solid rgb(0, 0, 0, 0);
    border: 1px solid var(--contrast-01);
    transition: .3s;
}

.select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23333' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    padding-right: 35px;
}

.input:focus,
.textarea:focus,
.select:focus {
    outline: 2px solid var(--primary);
}

.cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    width: 100%;
    border-radius: var(--border-radius);
    font-size: 1em;
    text-wrap: nowrap;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.cta-button:active {
    transform: translateY(5px);
}

.cta-button.primary {
    background-color: var(--primary);
    color: #fff;
    box-shadow: 0 5px 0 var(--primary-dark);
}

.cta-button.primary:active {
    box-shadow: 0 0 0 var(--primary-dark);
}

.cta-button.outline {
    background-color: var(--bg);
    color: var(--text-color);
    border: 1px solid var(--contrast-01);
    box-shadow: 0 5px 0 var(--contrast-01);
}

.cta-button.outline:active {
    box-shadow: 0 0 0 var(--contrast-01);
}

.cta-button.disabled {
    background-color: var(--contrast-02);
    color: #fff;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0);
    transform: translateY(5px);
}

.cta-button.disabled.noClick {
    pointer-events: none;
}

.divider {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-block: 10px;
    text-wrap: nowrap;
}

.divider::before,
.divider::after {
    content: '';
    border-top: 1px solid var(--contrast-01);
    width: 100%;
}

.switch {
    border-bottom: 1px solid var(--contrast-01);
}

.switch>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
}

.switch>div>div {
    display: flex;
}

.switch>div>div input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch>div>div label {
    cursor: pointer;
    width: 45px;
    height: 20px;
    background-color: var(--contrast-01);
    display: block;
    border-radius: 50em;
    position: relative;
    transition: 0.3s;
    padding: 4px;
    box-sizing: content-box;
}

.switch>div>div label:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--bg);
    border-radius: 50em;
    transition: 0.3s;
}

.switch>div>div input:checked+label {
    background-color: var(--primary);
}

.switch>div>div input:checked+label:after {
    transform: translateX(calc(100% + 5px));
}

.radio-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--text-color);
}

.radio-cont label {
    display: flex;
    align-items: center;
    gap: 13px;
    width: fit-content;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50px;
    position: relative;
    transition: 0.2s;
}

.radio-cont .check {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50em;
    border: 2px solid var(--primary);
    position: absolute;
    box-sizing: border-box;
    transition: 0.2s linear;
}

.radio-cont input[type="radio"] {
    visibility: hidden;
}

.radio-cont input[type="radio"]:checked+.check {
    border: 6px solid var(--primary);
}